# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Build output
dist/
dist-ssr/
*.local

# Production files
*.env
*.env.*.local
.env.local

# Editor settings
.vscode/
.idea/
.DS_Store
*.swp

# Cache
.cache/
.vite/

# Optional if using TypeScript
*.tsbuildinfo

# Mac OS specific files
Thumbs.db
